<div class="container">
    <div class="row">
        <div class="col-md-3 my-5" id="sidebar">
            <div class="card border-0" id="lateral-menu">
                <div class="card-header menu-title">
                    <h3 class="text-center ">Menú</h3>
                </div>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action navigation" data-toggle="list" href="javascript:void(0)"
                       route="students/inscribe_subjects/inscribe" element="students">
                        Inscripción de materias
                    </a>
                    <a class="list-group-item list-group-item-action navigation" data-toggle="list" href="javascript:void(0)"
                       route="students/notes_registered/registered" element="students">
                        Notas registradas
                    </a>
                </div>
            </div>
        </div>
        <div id="subcontent" class="col-md-9">
            <div class="jumbotron my-5">
                <h1 class="display-4 text-capitalize" id="title-jumbo"></h1>
                <hr class="my-4">
                <p class="lead">Puede elegir en el menú la operación que desee realizar.</p>
            </div>
        </div>
    </div>
</div>