<div class="container px-lg-4">
    <h2 class="text-center h1 mt-5 text-dark">Administración del sistema</h2>
    <div class="row mt-5 mx-lg-n5" id="card_content">
        <div class="col py-3 px-lg-4 mb-3">
            <div class="card navigation home-admin-item" id="card-students" element="students">
                <img src="./assets/img/students.jpg" class="card-img-top d-block" alt="Estudiantes">
                <div class="card-body">
                    <h5 class="card-text text-center">Adminstración de los estudiantes</h5>
                </div>
            </div>
        </div>
        <div class="col py-3 px-lg-4 mb-3">
            <div class="card navigation home-admin-item" id="card-teachers" element="teachers">
                <img src="./assets/img/teachers.png" class="card-img-top" alt="Profesor">
                <div class="card-body">
                    <h5 class="card-text text-center">Administración de los docentes</h5>
                </div>
            </div>
        </div>
        <div class="col py-3 px-lg-4 mb3">
            <div class="card navigation home-admin-item" id="card-subjects" element="subjects">
                <img src="./assets/img/subjects.png" class="card-img-top" alt="Materias escolares">
                <div class="card-body">
                    <h5 class="card-text text-center">Administración de las materias</h5>
                </div>
            </div>
        </div>
    </div>
</div>

