<div class="container">
    <div class="row">
        <div id="subcontent" class="col-md-12">
            <h2 class="my-5">Materias</h2>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="text-light">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Eliminar</th>
                        <th scope="col">Editar</th>
                    </tr>
                    </thead>
                    <tbody id="data_subjects"></tbody>
                </table>
            </div>

            <button class="btn btn-secondary navigation" type="button" id="create_new" data-toggle="modal"
                    data-target="#formSubjectModal">
                    Crear nueva
            </button>
        </div>
    </div>
</div>